      <div class="row">
        <div class="col-lg-12 col-sm-12"><h1 class="header center-block animated slideInLeft">The Hawk and Heron</h1></div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-12 ">
          <h3 class="animated slideInRight">American Birds, Handmade Crafts</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="social-media">
            <a href="https://www.facebook.com/thehawkandheron" target="_blank">
              <img src="/assets/facebook.png" alt="Facebook" class="social-media-buttons"/></a>
            <a href="https://www.instagram.com/thehawkandheron/" target="_blank"/>
              <img src="/assets/instagram.jpeg" alt="Instagram" class="social-media-buttons"/></a>
            <a href="https://www.etsy.com/shop/thehawkandheron" target="_blank">
              <img src="/assets/etsy.jpg" alt="Etsy" class="social-media-buttons"/></a>
          </div>
        </div>
      </div>

      <!-- old code without bootstrap
      <div class="row nav">
        <div class="col-xs-12 col-sm-12 center">
          <ul class= "list-inline text-center">
              {% assign sorted_pages = site.pages | sort:"order" %}
              {% for my_page in sorted_pages %}
                {% if my_page.title %}
                <li id="nav-links"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                {% endif %}
              {% endfor %}
          </ul>
        </div>
      </div>
      //-->
<!--
      <nav class="navbar navbar-default">
          <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed text-center" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-nav-demo">
            <ul class="nav navbar-nav">
              {% assign sorted_pages = site.pages | sort:"order" %}
              {% for my_page in sorted_pages %}
                {% if my_page.title %}
                <li id="nav-links"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
      </nav> -->

      <div class="row nav">
        <div class="col-xs-12 col-sm-12 center">
          <ul class= "list-inline text-center">
              {% assign sorted_pages = site.pages | sort:"order" %}
              {% for my_page in sorted_pages %}
                {% if my_page.title %}
                <li class="nav-links"><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                {% endif %}
              {% endfor %}
              <li class="nav-links"><a class="page-link" href="https://www.etsy.com/shop/thehawkandheron" target="_blank">Shop</a></li>
          </ul>
        </div>
</div>
